body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url('./server-background.jpg');
    background-size: 100% 100%;
}
.server-container{
    position:fixed;
    top: 50%;
    left: 50%;
    width:20em;
    height:4em;
    margin-top: -2em;
    margin-left: -10em;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    border: 1px solid rgb(62, 156, 214);
    background-color: white;
    box-shadow: 1px 1px gray;
}
.s-container-header{
    position: relative;
    font-size: 1.2em;
    color: black;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    width: 8em;
    margin-top: -0.5em;
    margin-left: -4em;
}